<div class="bg-light" id="skills">
  <div class="container-fluid p-5" style="min-height: 100vh">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-heading text-primary">I am good at</h1>
        <hr class="bg-primary my-4">
      </div>
    </div>
    <div class="row skills">
      <div class="col-12 col-md-4 text-center group mb-4">
        <h2 class="text-primary">Interfacing</h2>
        <hr class="bg-primary my-4">
        <i class="zoom devicon-html5-plain colored" title="HTML5"></i>
        <i class="devicon-css3-plain colored" title="CSS3"></i>
        <i class="devicon-bootstrap-plain colored" title="Bootstrap"></i>
      </div>
      <div class="col-12 col-md-4 text-center group mb-4">
        <h2 class="text-primary">Frameworks</h2>
        <hr class="bg-primary my-4">
        <i class="devicon-angularjs-plain colored m-1" title="Angular"></i>
        <i class="devicon-react-plain colored" title="React"></i>
        <i class="devicon-vuejs-plain colored m-1 mr-2" title="Vue JS"></i>
        <img style="margin-top: -50px" class="custom-devicon" src="assets/img/devicons/node.png" title="Node JS">
        <i class="devicon-express-original m-1 ml-2" title="Express"></i>
      </div>
      <div class="col-12 col-md-4 text-center group mb-4">
        <h2 class="text-primary">Programming</h2>
        <hr class="bg-primary my-4">
        <i class="devicon-javascript-plain colored m-1" title="Javascript"></i>
        <i class="devicon-typescript-plain colored m-1" title="Typescript"></i>
        <i class="devicon-java-plain bg-danger text-white m-1" title="Java"></i>
      </div>
      <div class="col-12 col-md-4 text-center group mb-4">
        <h2 class="text-primary">Databases</h2>
        <hr class="bg-primary my-4">
        <i class="devicon-mongodb-plain colored" title="Mongo DB"></i>
        <i class="devicon-postgresql-plain colored" title="My SQL"></i>
      </div>
      <div class="col-12 col-md-4 text-center group mb-4">
        <h2 class="text-primary">Build</h2>
        <hr class="bg-primary my-4">
        <i class="devicon-gulp-plain colored" title="Gulp"></i>
        <i class="devicon-webpack-plain colored" title="Webpack"></i>

      </div>
      <div class="col-12 col-md-4 text-center group mb-4">
        <h2 class="text-primary">Version Control</h2>
        <hr class="bg-primary my-4">
        <i class="devicon-git-plain colored" title="Git"></i>
        <i class="devicon-gitlab-plain colored" title="Gitlab"></i>
        <i class="devicon-github-plain colored" title="Github"></i>
      </div>
      <div class="col-12 col-md-4 text-center group mb-4">
        <h2 class="text-primary">CI/CD</h2>
        <hr class="bg-primary my-4">
        <img class="custom-devicon" src="assets/img/devicons/jenkins.png" title="Jenkins">

      </div>
      <div class="col-12 col-md-4 text-center group mb-4">
        <h2 class="text-primary">Cloud/Servers</h2>
        <hr class="bg-primary my-4">
        <i class="devicon-amazonwebservices-plain colored" title="Amazon Web Services"></i>
        <img class="custom-devicon" src="assets/img/devicons/pcf.png" title="Pivotal Cloud Foundary">
      </div>
    </div>
  </div>
</div>
