<section class="bg-light" id="career">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="section-heading text-primary">Companies I have worked with</h1>
                <hr class="primary my-4">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <img height="150" width="250" src="assets/img/career/mastercard.png" alt="mastercard" title="mastercard" class="img-fluid">
                <img height="150" width="250" src="assets/img/career/zensar.png" alt="Zensar" title="Zensar Technologies" class="img-fluid">
                <img height="150" width="250" src="assets/img/career/hotwax.png" alt="Hotwax Systems" title="HotWax  Systems" class="img-fluid">
            </div>
        </div>
        <div class="placeholder"></div>
        <div class="row" style="margin-top: 100px !important;">
            <div class="col-lg-10 mx-auto text-center">
                <a (click)='appService.emitAnalyticsEvent({"eventCategory": "Career","eventLabel": "Download Resume"})' class="animated btn btn-primary btn-xl " download="Rahul_Bhooteshwar_Resume.pdf" href="/assets/Rahul_Bhooteshwar_Resume.pdf"
                    (mouseenter)="appService.animate($event)">
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                    Download Resume
                </a>
            </div>
        </div>
    </div>
</section>

