section {
  min-height: 100vh !important;
}

.header-icons {
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
  margin: 10px;
}

.header-icons a {
  background-color: transparent !important;
  -webkit-text-decoration-skip: objects !important;
}

.header-icons .icon:active,
.header-icons .icon:hover {
  color: #679dff !important;
  background: #fff !important;
}

@media only screen and (min-width: 550px) {
  .header-icons .icon {
    width: 35px !important;
    height: 35px !important;
    font-size: 35px !important;
  }
  .intro-summary {
    font-size: x-large;
  }
}
.header-icons .icon {
  height: 50px !important;
  width: 50px !important;
  font-size: 28px !important;
  padding: 10px !important;
  border-radius: 50% !important;
  border: 2px solid #fff !important;
  transition: all 0.7s !important;
  margin: 3px !important;
}

.down,
.header-icons .icon {
  color: #fff !important;
  text-align: center !important;
}

.header-icons .fa {
  display: inline-block !important;
  text-rendering: auto !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

header.masthead h1 {
  font-size: 3rem;
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.intro-controls {
  margin: 15px !important;
}

.intro-controls .btn {
  margin: 5px !important;
}

.skills i {
  font-size: 75px;
}


.custom-devicon {
  height: 80px;
  width: 80px;
}

.placeholder {
  margin: 25px;
}

.padding-regular {
  padding: 20px !important;
}
.margin-regular {
  margin: 20px !important;
}

.footer {
  background: #1a222c;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #fff;
}

.card p {
  text-align: justify;
  text-justify: inter-word;
}
.card {
  border: 2px solid #679dff;
}


@media only screen and (max-width: 500px) {
  header.masthead h1 {
    font-size: 2.5rem;
  }
  #blog .card-img-top {
    height: 180px !important;
  }
}

#blog .card-img-top {
  height: 220px;
}

body {
  overflow-x: hidden;
}

.bg-light {
  background-color: white;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
  width: 12px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #151515;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #151515;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

// customize colors

.btn-primary {
  background-color: #679dff;
  border-color: #679dff;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  color:  #679dff !important;
  background-color:  #fff !important;
}
a {
  color: #679dff;
}
a:hover {
  color: #185698 !important;
}
.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #679dff !important;
}
.text-primary {
  color: #679dff !important;
}
.bg-primary {
  background-color: #679dff !important;
}
hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #679dff;
}
