<div id="contrtibutions" class="bg-dark text-white">
  <div class="container-fluid text-center p-5" style="min-height: 100vh;">
    <h2>Open Source Contributions</h2>
    <hr class="my-2 light mb-4">
    <div class="row">
      <div class="col-12 col-md-3">
        <a (click)='appService.emitAnalyticsEvent({eventCategory: "Contribution",eventLabel: "Covid 19 India Site"})' target="_blank" href="https://www.covid19india.org/">
          <div class="card animated bg-light" (mouseenter)="appService.animate($event)"
            style="width:100%; height: 100%">
            <div class="card-body">
              <img height="150" width="150" src="assets/img/devicons/covid.png" title="Covid 19 India Site">
              <h5 class="card-title text-secondary mt-2">
                COVID19 INDIA
              </h5>
              <div class="card-text text-primary">
                Tracker for Corona Virus outbreak in India. Front end built using React with 100% use of react hooks.
              </div>
              <div class="card-cta-group">
                <a (click)='appService.emitAnalyticsEvent({eventCategory: "Contribution",eventLabel: "Covid 19 India Feature"})' target="blank"
                  href="https://github.com/covid19india/covid19india-react/issues?q=is%3Aissue+is%3Aclosed+author%3Arahulbhooteshwar"
                  class="btn btn-primary m-2 pl-3 pr-3">Feature</a>
                <a (click)='appService.emitAnalyticsEvent({eventCategory: "Contribution",eventLabel: "Covid 19 India Contribution"})' target="blank" href="https://github.com/covid19india/covid19india-react/pulls?q=is%3Apr+author%3Arahulbhooteshwar+is%3Aclosed"
                  class="btn btn-dark m-2 pl-3 pr-3">My Contribution</a>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-3">
        <a (click)='appService.emitAnalyticsEvent({eventCategory: "Contribution",eventLabel: "Angular Site"})' target="_blank" href="https://angular.io/">
          <div class="card animated bg-light" (mouseenter)="appService.animate($event)"
            style="width:100%; height: 100%">
            <div class="card-body">
              <img height="150" width="150" src="assets/img/devicons/angular.png" title="Angular">
              <h5 class="card-title text-secondary mt-2">
                ANGULAR
              </h5>
              <div class="card-text text-primary">
                Angular is a platform and framework for building single-page client applications using HTML and
                TypeScript.
              </div>
              <div class="card-cta-group">
                <a (click)='appService.emitAnalyticsEvent({eventCategory: "Contribution",eventLabel: "Angular Feature"})' target="blank"
                  href="https://github.com/angular/angular-cli/issues?q=is%3Aissue+is%3Aclosed+author%3Arahulbhooteshwar"
                  class="btn btn-primary m-2 pl-3 pr-3">Feature</a>
                <a (click)='appService.emitAnalyticsEvent({eventCategory: "Contribution",eventLabel: "Angular Contribution"})' target="blank"
                  href="https://github.com/angular/angular-cli/pulls?q=is%3Apr+is%3Aclosed+author%3Arahulbhooteshwar"
                  class="btn btn-dark m-2 pl-3 pr-3">My Contribution</a>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-3">
        <a (click)='appService.emitAnalyticsEvent({eventCategory: "Contribution",eventLabel: "Formik Site"})' target="_blank" href="https://formik.org/">
          <div class="card animated bg-light" (mouseenter)="appService.animate($event)"
            style="width:100%; height: 100%">
            <div class="card-body">
              <img height="150" width="150" src="assets/img/devicons/formik.png" title="React Formik">
              <div class="card-text text-primary mt-5">
                Build forms in React, without the tears
                Formik is the world's most popular open source form library for React and React Native.
              </div>
              <div class="card-cta-group">
                <a (click)='appService.emitAnalyticsEvent({eventCategory: "Contribution",eventLabel: "Formik Issues"})' target="blank" href="https://github.com/formium/formik/issues?q=is%3Aissue+is%3Aclosed+author%3Arahulbhooteshwar" class="btn btn-primary m-2 pl-3 pr-3">Reported Issues</a>
                <a (click)='appService.emitAnalyticsEvent({eventCategory: "Contribution",eventLabel: "Formik Contribution"})' target="blank" href="https://github.com/formium/formik/pulls?q=is%3Apr+author%3Arahulbhooteshwar+is%3Aclosed" class="btn btn-dark m-2 pl-3 pr-3">My Contribution</a>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-3">
        <div class="card animated bg-light" (mouseenter)="appService.animate($event)" style="width:100%; height: 100%">
          <div class="card-body">
            <img height="130" width="180" src="assets/img/devicons/stackoverflow.png" title="Stack Overflow">
            <div class="card-text text-primary mt-5">
              Build forms in React, without the tears
              Formik is the world's most popular open source form library for React and React Native.
            </div>
            <div class="card-cta-group">
              <a (click)='appService.emitAnalyticsEvent({eventCategory: "Contribution",eventLabel: "Stack Overflow Activities"})' target="blank" href="https://stackoverflow.com/users/4517595/rahul-bhooteshwar?tab=summary"
                class="btn btn-dark m-2 pl-3 pr-3">Activities</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-3 offset-md-3">
        <a (click)='appService.emitAnalyticsEvent({eventCategory: "Contribution",eventLabel: "Snippet Heighlight"})' target="_blank" href="https://www.npmjs.com/package/snippet-highlight">
          <div class="card animated bg-light" (mouseenter)="appService.animate($event)"
            style="width: 100%; height: 100%">
            <div class="card-body">
              <img height="100" width="150" src="assets/img/devicons/npm.png" title="NPM module">
              <h5 class="card-title text-secondary mt-2">
                SNIPPET-HIGHLIGHT
              </h5>
              <div class="card-text text-primary">
                Framework agnostic syntax highlighter for your code examples
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-3">
        <a (click)='appService.emitAnalyticsEvent({eventCategory: "Contribution",eventLabel: "NGX Busy Loader"})' target="_blank" href="https://www.npmjs.com/package/ngx-busy-loader">
          <div class="card animated bg-light" (mouseenter)="appService.animate($event)"
            style="width: 100%; height: 100%">
            <div class="card-body">
              <img height="100" width="150" src="assets/img/devicons/npm.png" title="NPM module">
              <h5 class="card-title text-secondary mt-2">
                NGX-BUSY-LOADER
              </h5>
              <div class="card-text text-primary">
                Configurable spinner component library for Angular apps
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
